
# Ignore Python virtual environment
.env/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore log files
*.log

# Ignore system files
.DS_Store           # macOS
Thumbs.db          # Windows

# Ignore IDE-specific files
.vscode/
