.hithere {
    animation: hithere 1s ease 1;
}
@keyframes hithere {
    30% { transform: scale(1.05); }
    40%, 60% { transform: rotate(-20deg) scale(1.05); }
    50% { transform: rotate(20deg) scale(1.05); }
    70% { transform: rotate(0deg) scale(1.05); }
    100% { transform: scale(1); }
}
